html {
  height: 100wh;
  width: 100vw;
} body {
  height: 100%;
  width: 100%;
  font-family: Arial;
}
.cv {
  display: flex;
}
.left {
  width: 20%;
  border-right: 1px solid black;
  padding: 20px; 
  background:#0abee6;
  color: #e4eceb;

}

.left p {
font-style: italic;
}
.right {
  width: 80%; 
  padding: 20px;
}
.right h3 {
  color: #0abee6;
}
.right h1 {
  color: #0abee6;
}